.app-container {
  max-width: 64.125rem;
  margin: 3.75rem auto;
  display: flex;
  height: calc(100vh - 16rem);
  @media screen and (max-width: 991px) {
    max-width: 100%;
    flex-direction: column;
    padding: 0 2.5rem;
    row-gap: 1rem;
    height: calc(100vh - 6.5rem);
  }
  app-form {
    width: 100%;
    display: block;
  }
}
app-footer {
  display: block;
  margin-top: auto;
}
