<div class="sidebar">
  <h1 class="sidebar-text">
    Ingresá tu e‑mail, teléfono o usuario de
    <span>Mercado Libre</span>
  </h1>
  <hr />
  <div class="sidebar-help">
    <div class="sidebar-help__items">
      <h3 class="sidebar-help__items-title">Reportar un problema</h3>
      <a href="" class="sidebar-help__items-link">
        <img src="../../../assets/icons/cellphone.svg" />
        <span>Robo o pérdida de teléfono</span>
        <img src="../../../assets/icons/arrow-right.svg" />
      </a>
      <a href="" class="sidebar-help__items-link">
        <img src="../../../assets/icons/user.svg" />
        <span>Robo de cuenta</span>
        <img src="../../../assets/icons/arrow-right.svg" />
      </a>
      <a href="" class="sidebar-help__items-link primary"
        ><span>Necesito ayuda con otros temas</span></a
      >
    </div>
  </div>
</div>
