<ng-container *ngIf="{ formData: formData$ | async } as data">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="!data.formData?.email">
      <label class="form-label">E-mail, télefono o usuario</label>
      <input type="text" class="form-input" formControlName="email" />
      <div class="form-message"></div>
      <div class="form-action">
        <ng-container *ngIf="!(loading$ | async); else loadingButton">
          <button
            class="button-primary"
            type="button"
            (click)="setEmail()"
            *ngIf="!fromBackoffice"
          >
            Continuar
          </button>
          <button class="button-secondary" *ngIf="!fromBackoffice">
            Crear cuenta
          </button>
          <button
            class="button-primary"
            type="button"
            (click)="sendEmail()"
            *ngIf="fromBackoffice"
          >
            Continuar
          </button>
        </ng-container>
        <ng-template #loadingButton>
          <button class="button-primary disabled" type="button">
            <app-spinner></app-spinner>
          </button>
          <button
            class="button-secondary"
            [disabled]="true"
            *ngIf="!fromBackoffice"
          >
            Crear cuenta
          </button>
        </ng-template>
      </div>
    </ng-container>
    <ng-container *ngIf="data.formData?.email && !fromBackoffice">
      <label class="form-label">Contraseña</label>
      <input
        [type]="!showPassword ? 'password' : 'text'"
        class="form-input"
        formControlName="password"
      />
      <i
        [class]="!showPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"
        (click)="changeInputType()"
      ></i>
      <div class="form-message"></div>
      <div class="form-action">
        <ng-container *ngIf="!(loading$ | async); else loadingButtonSession">
          <button class="button-primary" type="submit">Iniciar sesión</button>
          <button class="button-secondary password">
            ¿Olvidaste tu contraseña?
          </button>
        </ng-container>
        <ng-template #loadingButtonSession>
          <button class="button-primary disabled" type="button">
            <app-spinner></app-spinner>
          </button>
          <button class="button-secondary" [disabled]="true">
            ¿Olvidaste tu contraseña?
          </button>
        </ng-template>
      </div>
    </ng-container>
  </form>
</ng-container>
