<footer class="footer">
  <div class="footer__login">
    <a
      class="login-footer__mercadolibre-privacy-link"
      href="https://www.mercadolibre.com.ar/privacidad"
      target="_blank"
      rel="noopener noreferrer"
      >Cómo cuidamos tu privacidad<span class="sr-only"
        >(abrirá una nueva ventana)</span
      ></a
    >
    <span>- Copyright © 1999-2023 MercadoLibre S.R.L.</span>
  </div>
  <div class="footer__login">
    Protegido por reCAPTCHA
    <a class="link" href="https://policies.google.com/privacy?hl=es-419"
      >- Privacidad -
    </a>
    <a class="link" href="https://policies.google.com/terms?hl=es-419">
      Condiciones</a
    >
  </div>
</footer>
