<header>
  <div class="header-container">
    <div class="header-container__logo">
      <img
        class="img-desktop"
        src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.1/mercadolibre/logo__large_plus.png"
        alt="Logo de Mercado Libre"
      />
      <img
        class="img-mobile"
        src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.1/mercadolibre/logo__small@2x.png"
        alt="Logo de Mercado Libre"
      />
    </div>
  </div>
</header>
